.agencias{
    min-height: 500px;
}
.destinos{
    background: #FBFFFE;
    min-height: 400px;
}
.destinos, .destinos h2, .destinos table, .azul{
    color: #324A5F;
}
.agencias{
    min-height: 500px;
}