input {
  background: #c4c4c4;
  border: none;
  border-radius: 4px;
  color: rgba(222, 229, 229, 1);
  width: 100%;
}
.login{
  margin-top: 13%;
}
.links, .links a, .links a:hover{
  text-align: center;
  color: #324a5f;
  font-size: 0.9rem;
}
.links a{
    text-decoration: underline;
}